body {
  text-align: center; 
  display: grid;
  background: url("https://wallpapercave.com/wp/nkHAKMR.jpg");
  background-attachment: fixed;
  background-size: cover;
  
}

.wrapper {
  background: url("https://wallpapercave.com/wp/nkHAKMR.jpg");
  background-color: cornsilk;
  display: grid;
  grid-template-areas:
  "nav header"
  "main main"
; 
}

.main-header {
  grid-area: header;
  border: 2px solid green
}

.nav-bar {
  grid-area: nav;
  border: 2px solid pink
}

.cards-area {
  grid-area: main;
  border: 2px solid purple;
  text-align: center;
  color: #003A70;  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

.card {
  text-align: center;
  border: black solid 1px;
  width: auto;
  height: auto;
  display: inline-grid;
  margin: 1rem 2rem;
  background-color: rgb(255,255,255, 0.3);
  border-radius: 10px;
  margin: 10px;
  padding-bottom: 10px;
  object-fit: contain;
  background-color: rgb(161, 192, 21, 0.5);
}

.card-img:hover {
  transform: scale(1.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.search-bar {
  justify-content: center;
}

.user-card-p {
  margin: 2px;
}

.del-btn {
  width: auto;
  height: auto;
}

.edit-place {
  width: auto;
  height: 22px;
  position: relative;
  top: -1px;
}

#tag-search-bar {
  position: relative;
  top: -14px;
  left: 121px;
}

#name-search-bar {
  position: relative;
  top: -14px;
  left: 265px;
}
