body {
  text-align: center; 
  display: grid;
  background: url("https://wallpapercave.com/wp/nkHAKMR.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Beleren Bold', serif;
  /* font-family: "Beleren Bold"; */
  
}

.wrapper {
  /* background: url("https://wallpapercave.com/wp/nkHAKMR.jpg");
  background-color: cornsilk; */
  display: grid;
  grid-template-areas:
  "header header"
  "nav search"
  "main main"
; 
}

#header-img {
  height: 100px;
  width: 100px;
}

.main-header {
  grid-area: header;
  font-family: 'Beleren Bold', serif;
  color:  rgb(161, 192, 21);
  font-size: 30px;

  
}

.nav-bar {
  grid-area: nav;
  /* background-color: #003A70; */
  
}

.search-form {
  grid-area: search;
  /* background-color: #003A70; */
}

.cards-area {
  grid-area: main;
  text-align: center;
  color: #003A70;  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

.card {
  text-align: center;
  border: black solid 1px;
  width: auto;
  height: auto;
  display: inline-grid;
  margin: 1rem 2rem;
  background-color: rgb(255,255,255, 0.3);
  border-radius: 15px;
  margin: 10px;
  padding-bottom: 10px;
  object-fit: contain;
  background-color: rgb(161, 192, 21, 0.5);
}

.card-img:hover {
  transform: scale(1.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#tag-search-bar {
  float: left;

}

.user-card-p {
  margin: 2px;
}

.input-text{
  float: left;
}
.del-btn {
  width: auto;
  height: auto;
}

.edit-place {
  width: auto;
  height: 22px;
  position: relative;
  top: -1px;
}

.tag-place {
  width: auto;
  height: 22px;
  position: relative;
  top: -1px;
}


@font-face {
  font-family: "Beleren Bold";
  src: local("Beleren Bold"), url("./fonts/Beleren2016-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

.nav-btn {
  float: left;
  margin-left: 10px;
}